<section class="header">
  <div class="container">
    <div class="row" align="center">
      <h1>Welcome</h1>
      <p>Pantry is your kitchen & food tracking companion. Use it to track your caloric and macro-nutrient intake to reach your fitness goals.</p>
      <ul class="list-inline">
        <li><a href="#" class="btn btn-trans btn-md sign-up">Sign Up</a></li>
        <li><a href="#" class="btn btn-primary btn-md">Log In</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1>Some Header Here</h1>
        <p></p>
      </div>

    </div>
  </div>
</section>
