<section class="header">
  <div class="container">
    <div class="row" align="center">
      <h1>Welcome</h1>
      <p>Pantry is your kitchen & food tracking companion. Use it to track your caloric and macro-nutrient intake to reach your fitness goals.</p>
      <ul class="list-inline">
        <li><a href="/signup" class="btn btn-trans btn-md sign-up">Sign Up</a></li>
        <li><a href="/login" class="btn btn-primary btn-md">Log In</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Count Calories Like A Boss</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec sem consequat, placerat diam id, imperdiet arcu.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-circle" aria-hidden="true"></i>
        <h4>Lose Weight</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec sem consequat, placerat diam id</p>

        <h4>Build Muscle</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec sem consequat, placerat diam id</p>

        <h4>Eat Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec sem consequat, placerat diam id</p>
      </div>
      <div class="col-md-4">
        <img src="/images/features.jpg" class="img-responsive">
      </div>
      <div class="col-md-4">
        <h4>Get Results</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec sem consequat, placerat diam id</p>

        <h4>Feel Great</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec sem consequat, placerat diam id</p>

        <h4>Look Great</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec sem consequat, placerat diam id</p>
      </div>
    </div>
  </div>
</section>
