<section class="header">
  <div class="container">
    <div class="row" align="center">
      <h1>Pantry</h1>
    </div>
  </div>
</section>
<section class="action">
  <div class="container">
    <div class="row" align="center">
      <p>Pantry is your kitchen & food tracking companion. Use it to track your caloric and macro-nutrient intake to reach your fitness goals.</p>
      <ul class="list-inline">
        <li><a href="/signup" class="btn btn-trans btn-md sign-up">Sign Up</a></li>
        <li><a href="/login" class="btn btn-primary btn-md">Log In</a></li>
      </ul>
    </div>
  </div>
</section>
