<section class="new-food">
  <div class="container">
    <% if @errors %>
    <div class="alert alert-danger">
      <ul>
        <% @errors.each_value do | error | %>
          <li><%= error[0] %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" >
        <form action="/add-new-food" method="post">
          <h1 class="text-center">New Food</h1>
          <div class="form-group">
            <label for="new-food-brand">Brand</label>
            <input type="text" class="form-control" id="new-food-brand" name="brand">
            <label for="new-food-name">Name</label>
            <input type="text" class="form-control" id="new-food-brand" name="name">
          </div>
          <div class="form-group">
            <label for="new-food-serving-size">Serving Size</label>
            <input type="number" class="form-control" id="new-food-brand" name="serving-size">
            <label for="new-food-serving-type">Serving Type</label>
            <input type="text" class="form-control" id="new-food-brand" name="serving-type" placeholder="g, ml, 1 whole">
          </div>
          <div class="form-group">
            <label for="new-food-calories">Calories</label>
            <input type="number" class="form-control" id="new-food-calories" name="calories">
            <label for="new-food-calories">Fat</label>
            <input type="number" class="form-control" id="new-food-fat" name="fat">
            <label for="new-food-calories">Carbs</label>
            <input type="number" class="form-control" id="new-food-carbs" name="carbs">
            <label for="new-food-calories">Protein</label>
            <input type="number" class="form-control" id="new-food-protein" name="protein">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Add Food</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>
