<% if session[:message] %>
  <h2><%= session[:message] %></%></h2>
<% end %>

<form action="/signup" method="post">
  <label>
    Email:
    <input type="email" name="email">
  </label>
  <label>
    Password
    <input type="password" name="password">
  </label>
  <label>
    Password Confirm
    <input type="password" name="password-confirm">
  </label>
  <input type="submit">
</form>
