p, h1 {
  font-family: 'Droid Sans', sans-serif;
}

.navbar {
  background-color: #242424;
  border-bottom: 1px solid #b9b9b9;
  font-family: 'Lato', sans-serif;
}

.navbar a {
  color: #CCC !important;
}

.navbar a:hover {
  color: #FFF !important;
  background-color: #646464 !important;
}

.navbar-header .navbar-brand {
  color: #FFF !important;
  font-size: 1.5em;
}

.header {
  background: url("/images/landing.jpg") no-repeat center 40px;
  background-size: cover;
  width: 100%;
  height: 550px;
  border-bottom: 2px solid #C9C9C9;
  color: #FFF;
}

.header h1 {
  padding-top:30px;
  color: #FFF;
  font-family: 'Pacifico', cursive;
  font-size: 10em;
}

.action p {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.header .btn {
  padding: 5px 50px 5px 50px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #FFF;
  font-weight: bold;
  font-size: 1.2em;
  color: #FFF;
}

.action .btn {
  padding: 5px 50px 5px 50px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #000;
  font-weight: bold;
  font-size: 1.2em;
}

section {
  padding: 100px 0 60px 0;
}


.login form,
.signup form {
  max-width: 500px;
  margin: 0 auto;
}

.modal form {
  padding-bottom: 50px;
  text-align: center;
}

.modal form input,
.modal form select {
  margin-right: 15px;
}

.modal h3 {
  /*margin-bottom: 30px;*/
  text-align: center;
}

.diary .search-form {
  margin-bottom: 50px;
}

.search-result:hover {
  background: #6f8bda;
}

.daily-stats {
  text-align: center;
  margin-bottom: 50px;
}

.daily-stats h1 {
  margin: 0;
}

.glyphicon-plus {
  font-size: 20px;
  font-weight: 800;
}

.add-entry-panel:hover {
  background: #47a720;
}

.delete-btn a {
  color: red;
}

.search-result form {
  margin-top: 10px;
}

.diary .row {
  margin:0;
}

.add-entry .row {
  margin-left: 0;
  margin-right: 0;
}


@media(max-width: 768px) {
  .header {
    padding: 70px 0 60px 0;
    height: 400px;
  }

  .header h1 {
    font-size: 3em;
  }

  .header p {
    font-size: 1.5em;
  }

  #add-food-modal button {
    width: 100%;
  }

  .daily-stats {
    margin-bottom: 10px;
  }

  .daily-stats h1 {
    font-size: 2em;
  }

  .daily-stats h3 {
    font-size: 1em;
  }

  .macro-info {
    text-align: left;
  }

  .search-result form {
    float: left;
  }

}
